<!DOCTYPE HTML>
<html>
    <head>
        <h3>Servidor de teste do DynamoDB e S3</h3>
    </head>
    <body>
        <a href="/read">Consultar dados</a><br>
        <a href="/write">Criar novo usuario</a><br>
        <a href="/delete">Deletar usuario</a>

    </body>
</html>
